<div>
  <table class="table table-bordered">
    <% if @date_validator&.errors&.any? %>
      <%= render 'error_messages', obj: @date_validator %>
    <% end %>
    <div id="error_message" ></div>
    <div class="filters">
      <form action="/">
        <div class="control-group">
          <div class="row">
            <div class="col-md-4">
              <label class="control-label col-md-4">Event Name</label>
              <input type="text" class="form-control d-inline-block col-md-7" name="events[title]" value="<%= @title %>">
            </div>
            <div class="col-md-4">
              <label class="control-label col-md-4">Start date</label>
              <input name="events[start]" type="text" class="form-control d-inline-block col-md-6"
                data-provide='datepicker' data-date-autoclose="true" data-date-clear-btn="true" >
            </div>
            <div class="col-md-4">
              <label class="control-label col-md-4">Finish date</label>
              <input name="events[finish]" type="text" class="form-control d-inline-block col-md-6"
                data-provide='datepicker' data-date-autoclose="true" data-date-clear-btn="true" >
            </div>
            <div class="col-md-4">
              <label class="control-label col-md-4">Web Source</label>
              <%= select_tag 'events[web_source_id]', options_from_collection_for_select(@web_sources, 'id', 'name', selected: params[:events] && params[:events][:web_source_id]), prompt: 'Please choose websource', class: 'form-control d-inline-block col-md-6'%>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10">
              <input type="submit" value="Search" class="btn btn-primary">
            </div>
          </div>
        </div>
      </form>
    </div>
    <thead class="thead-light">
      <tr>
        <th scope="col">Event Name</th>
        <th scope="col">Start</th>
        <th scope="col">Finish</th>
        <th scope="col">Web Source</th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= link_to(event.title, event.url) %></td>
          <td><%= format_date(event.start) %></td>
          <td><%= format_date(event.finish) %></td>
          <td><%= link_to(event.web_source_name, event.web_source_url) %></td>
        </tr>
      <% end %>
    </tbody>
    <% if @events.present? %>
      <tr>
        <td colspan="4" >
          <%= will_paginate @events %>
        </td>
      </tr>
    <% end %>
    <% if @events.blank? %>
      <tr>
        <td colspan="4">
          No events present
        </td>
      </tr>
    <% end %>
  </table>
</div>
